#copyContainer {
  margin: 20px 10px;
  border: 1px dashed #ef9d1b;
  padding: 10px 20px;
}

.signature {
  font-size: 9px;
}

.signature__bg-white {
  background-color: white;
  color: black;
}

.signature__bg-black {
  background-color: black;
  color: white;
}

.signature p {
  margin: 0;
  padding: 0;
  line-height: 16px;
}

.logo {
  width: 24px;
}

#nameField {
  font-weight: bold;
}